*.aux
*.blg
*.log
docs/Tracking Journal/tracking.pdf
*.gz
~*
*.png

*.csv
*.mat
!ros/src/meta_planner/precomputation/

*.asv
docs/CDC 2017 Safe Tracking/tracking.pdf
*.m~
code/pics/
docs/CDC 2017 Safe Tracking.zip
*.mexw64

# Emacs stuff.
.clang_complete

# ROS stuff.
*.catkin_workspace

ros/build
ros/devel
ros/src/CMakeLists.txt

# Compiled python files.
*.pyc

# Swap files
*.swp
*.swo
*~

# Glog log files
*.log*
*.INFO

# OSX dir files
.DS_store

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic and static libraries
*.so
*.dylib
*.la
*.a
