<?xml version="1.0"?>

<launch>
  <!-- Data collection. -->
  <arg name="file" default="data" />
  <arg name="file_name" default="$(find data_logger)/data/$(arg file).txt" />

  <!-- Topics. -->
  <arg name="human_topic" default="/vicon/hat/hat" />
  <arg name="robot_topic" default="/vicon/cf7/cf7" />
  <arg name="traj_request_topic" default="/request_traj" />

  <!-- Logging params. -->
  <arg name="time_step" default="0.1" />
  <arg name="max_angle" default="0.25" />
  <arg name="velocity_decay" default="0.5" />

  <!-- Data logger. -->
  <node name="data_logger"
        pkg="data_logger"
        type="data_logger_node.py"
        output="screen">

    <param name="topics/human" value="$(arg human_topic)" />
    <param name="topics/robot" value="$(arg robot_topic)" />
    <param name="topics/traj_request" value="$(arg traj_request_topic)" />

    <param name="file_name" value="$(arg file_name)" />
    <param name="velocity_decay" value="$(arg velocity_decay)" />
    <param name="max_angle" value="$(arg max_angle)" />
    <param name="time_step" value="$(arg time_step)" />
  </node>
</launch>
